body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
    background: #757F9A; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.box {
    width: 500px;
    padding: 30px;
    text-align: center;
    transition: 0.25s;
    margin-top: 250px;
    margin-left: 330px;
    border: solid 1px;
    background: #2BC0E4; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #EAECC6, #2BC0E4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

    .box h1 {
        color: black;
        text-transform: uppercase;
        font-weight: 500
    }

.partitioned {
    padding-left: 15px;
    letter-spacing: 42px;
    border: 0;
    background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 50px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    width: 220px;
}

.auto-style1 {
    height: 30px;
}
  