
    .city

{
    /*background: #C9D6FF;*/ /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);*/ /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #E2E2E2, #C9D6FF);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #2BC0E4; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #EAECC6, #2BC0E4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.city1 {
    background: #757F9A; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.auto-style2 {
    width: 100px;
}

.auto-style4 {
    width: 223px;
}

.auto-style5 {
    width: 358px;
}

.auto-style6 {
    width: 210px;
}

.auto-style8 {
    width: 271px;
}

.auto-style9 {
    width: 300px;
}

.auto-style10 {
    width: 400px;
    height: 50px;
}

.auto-style12 {
    width: 299px;
    height: 50px;
}

.auto-style13 {
    width: 271px;
    height: 50px;
}

.auto-style14 {
    width: 400px;
    height: 50px;
}

.auto-style16 {
    width: 300px;
    height: 50px;
}

.auto-style17 {
    width: 271px;
    height: 50px;
}

.auto-style18 {
    width: 400px;
    height: 50px;
}

.auto-style19 {
    width: 262px;
    height: 50px;
}

.auto-style20 {
    width: 299px;
    height: 50px;
}

.auto-style21 {
    width: 271px;
    height: 50px;
}

.auto-style22 {
    width: 262px;
}

.auto-style23 {
    width: 262px;
    height: 50px;
}

.auto-style30 {
    width: 400px;
    height: 50px;
}

.auto-style32 {
    width: 300px;
    height: 50px;
}

.auto-style33 {
    width: 262px;
    height: 50px;
}

.auto-style39 {
    width: 400px;
    height: 43px;
}

.auto-style40 {
    width: 262px;
    height: 43px;
}

.auto-style41 {
    width: 300px;
    height: 43px;
}

.auto-style42 {
    width: 271px;
    height: 43px;
}

.auto-style43 {
    width: 300px;
    height: 28px;
}

.auto-style44 {
    width: 215px;
    height: 28px;
}

.auto-style56 {
    height: 30px;
}

.auto-style58 {
    width: 210px;
    height: 31px;
}

.auto-style59 {
    width: 223px;
    height: 31px;
}

.auto-style60 {
    width: 358px;
    height: 31px;
}

.auto-style61 {
    width: 280px;
    height: 31px;
}

.auto-style64 {
    width: 100px;
    height: 24px;
}

.auto-style644 {
    width: 400px;
    height: 24px;
}

.auto-style65 {
    width: 225px;
    height: 24px;
}

.auto-style66 {
    height: 25px;
}

.auto-style68 {
    height: 21px;
}

.auto-style69 {
    height: 224px;
}

.auto-style74 {
    width: 300px;
    height: 25px;
}

.auto-style77 {
    width: 215px;
    height: 25px;
}

.auto-style645 {
    width: 215px;
}

.auto-style646 {
    width: 225px;
}

